In [12]:
import yfinance as yf

# Define the ticker symbol for Jio, which is "RELIANCE.BO" for stocks listed in BSE (Bombay Stock Exchange).
ticker_symbol = "RELIANCE.BO"

# Define the date range for historical data (10 years ago to today).
start_date = "2013-11-01"  # 10 years ago
end_date = "2023-11-01"    # Today or a recent date

# Fetch historical data.
jio_stock = yf.download(ticker_symbol, start=start_date, end=end_date)

# Display the historical data.
print(jio_stock)

[*********************100%%**********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2013-11-01   454.500000   462.500000   451.549988   453.924988   417.582275
2013-11-05   452.000000   460.850006   452.000000   454.524994   418.134216
2013-11-06   454.500000   459.950012   447.750000   449.350006   413.373566
2013-11-07   448.825012   452.475006   441.250000   442.975006   407.509003
2013-11-08   440.500000   442.975006   436.100006   437.750000   402.702271
...                 ...          ...          ...          ...          ...
2023-10-25  2252.949951  2281.500000  2242.399902  2258.000000  2258.000000
2023-10-26  2257.949951  2258.000000  2221.050049  2226.199951  2226.199951
2023-10-27  2242.000000  2274.050049  2236.050049  2265.250000  2265.250000
2023-10-30  2283.949951  2324.600098  2272.000000  2311.350098  2311.350098
2023-10-31  2332.949951  2332.949951  2282.800049  2288.550049  2288.550049

            Volume
Date
2013-11-01  780444
2013-11-05  628470
2013-11-06  564994
2013-11-07  613818
2013-11-08  614964
...            ...
2023-10-25  217481
2023-10-26  682499
2023-10-27  793186
2023-10-30  271749
2023-10-31  146839

[2442 rows x 6 columns]

In [13]:
import pandas as pd
df = pd.DataFrame(jio_stock)

In [14]:
print(df)

                   Open         High          Low        Close    Adj Close  \
Date
2013-11-01   454.500000   462.500000   451.549988   453.924988   417.582275
2013-11-05   452.000000   460.850006   452.000000   454.524994   418.134216
2013-11-06   454.500000   459.950012   447.750000   449.350006   413.373566
2013-11-07   448.825012   452.475006   441.250000   442.975006   407.509003
2013-11-08   440.500000   442.975006   436.100006   437.750000   402.702271
...                 ...          ...          ...          ...          ...
2023-10-25  2252.949951  2281.500000  2242.399902  2258.000000  2258.000000
2023-10-26  2257.949951  2258.000000  2221.050049  2226.199951  2226.199951
2023-10-27  2242.000000  2274.050049  2236.050049  2265.250000  2265.250000
2023-10-30  2283.949951  2324.600098  2272.000000  2311.350098  2311.350098
2023-10-31  2332.949951  2332.949951  2282.800049  2288.550049  2288.550049

            Volume
Date
2013-11-01  780444
2013-11-05  628470
2013-11-06  564994
2013-11-07  613818
2013-11-08  614964
...            ...
2023-10-25  217481
2023-10-26  682499
2023-10-27  793186
2023-10-30  271749
2023-10-31  146839

[2442 rows x 6 columns]

In [15]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-11-01,454.500000,462.500000,451.549988,453.924988,417.582275,780444
2013-11-05,452.000000,460.850006,452.000000,454.524994,418.134216,628470
2013-11-06,454.500000,459.950012,447.750000,449.350006,413.373566,564994
2013-11-07,448.825012,452.475006,441.250000,442.975006,407.509003,613818
2013-11-08,440.500000,442.975006,436.100006,437.750000,402.702271,614964
...,...,...,...,...,...,...
2023-10-25,2252.949951,2281.500000,2242.399902,2258.000000,2258.000000,217481
2023-10-26,2257.949951,2258.000000,2221.050049,2226.199951,2226.199951,682499
2023-10-27,2242.000000,2274.050049,2236.050049,2265.250000,2265.250000,793186
2023-10-30,2283.949951,2324.600098,2272.000000,2311.350098,2311.350098,271749
2023-10-31,2332.949951,2332.949951,2282.800049,2288.550049,2288.550049,146839

In [16]:
df.head(50)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-11-01,454.500000,462.500000,451.549988,453.924988,417.582275,780444
2013-11-05,452.000000,460.850006,452.000000,454.524994,418.134216,628470
2013-11-06,454.500000,459.950012,447.750000,449.350006,413.373566,564994
2013-11-07,448.825012,452.475006,441.250000,442.975006,407.509003,613818
2013-11-08,440.500000,442.975006,436.100006,437.750000,402.702271,614964
2013-11-11,437.500000,441.250000,430.424988,431.850006,397.274658,665178
2013-11-12,432.274994,435.725006,425.000000,426.125000,392.007996,574536
2013-11-13,425.500000,430.700012,422.000000,422.674988,388.834229,545336
2013-11-14,425.975006,432.000000,425.200012,425.875000,391.778015,456178
2013-11-18,428.174988,438.000000,428.174988,437.174988,402.173309,875448
2013-11-19,437.625000,442.200012,437.000000,438.350006,403.254303,551256
2013-11-20,436.125000,441.350006,428.625000,431.750000,397.182709,610106
2013-11-21,430.299988,430.500000,422.625000,424.049988,390.099152,517638
2013-11-22,425.524994,428.075012,420.049988,421.950012,388.167267,556752
2013-11-25,423.500000,428.399994,422.399994,425.674988,391.594025,447774
2013-11-26,426.000000,428.625000,420.000000,421.024994,387.316315,664330
2013-11-27,422.950012,424.875000,418.000000,418.975006,385.430481,615112
2013-11-28,423.000000,427.899994,421.649994,424.125000,390.168152,496454
2013-11-29,426.024994,428.475006,424.774994,426.549988,392.399017,493020
2013-12-02,426.375000,431.399994,426.250000,427.450012,393.226929,498140
2013-12-03,426.774994,432.725006,425.575012,430.950012,396.446716,812112
2013-12-04,430.750000,433.625000,426.899994,428.149994,393.870850,449190
2013-12-05,434.000000,438.500000,433.625000,434.924988,400.103455,885660
2013-12-06,434.774994,437.200012,431.000000,433.625000,398.907562,342044
2013-12-09,440.500000,444.000000,438.274994,439.250000,404.082184,672558
2013-12-10,439.850006,444.000000,439.500000,441.774994,406.405060,474944
2013-12-11,441.500000,441.825012,436.100006,440.500000,405.232086,371454
2013-12-12,439.375000,439.975006,434.399994,435.200012,400.356445,371618
2013-12-13,433.700012,433.899994,429.200012,431.674988,397.113678,317888
2013-12-16,430.100006,430.750000,421.125000,422.200012,388.397278,914780
2013-12-17,424.149994,426.350006,418.125000,419.475006,385.890442,336984
2013-12-18,419.500000,430.924988,419.500000,429.325012,394.951843,480950
2013-12-19,431.674988,432.350006,422.549988,427.274994,393.065948,749778
2013-12-20,437.000000,448.350006,431.149994,446.825012,411.050720,1301526
2013-12-23,448.575012,454.174988,445.250000,447.700012,411.855652,942334
2013-12-24,447.575012,452.250000,447.424988,448.075012,412.200623,404856
2013-12-26,447.500000,448.700012,441.000000,443.850006,408.313873,462136
2013-12-27,444.000000,446.524994,438.700012,439.350006,404.174194,397056
2013-12-30,441.000000,444.700012,438.000000,442.700012,407.255981,497124
2013-12-31,443.049988,449.000000,443.049988,447.399994,411.579681,385694
2014-01-01,448.375000,449.000000,443.600006,444.350006,408.773865,258544
2014-01-02,445.000000,447.899994,435.500000,437.674988,402.633270,381948
2014-01-03,435.100006,436.725006,428.200012,432.500000,397.872681,560120
2014-01-06,432.000000,432.000000,425.674988,427.450012,393.226929,474758
2014-01-07,427.750000,429.875000,420.100006,421.075012,387.362366,600614
2014-01-08,422.700012,428.250000,422.299988,424.125000,390.168152,433430
2014-01-09,425.000000,426.549988,422.475006,425.274994,391.226074,458220
2014-01-10,424.225006,437.350006,424.225006,428.450012,394.146912,858692
2014-01-13,432.549988,440.774994,432.549988,439.500000,404.312164,636082
2014-01-14,438.674988,442.399994,436.399994,440.549988,405.278107,454820

In [17]:
data_types = df.dtypes
print(data_types)

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [18]:
# Check for missing values in the DataFrame
missing_values = df.isna().sum()

# Display the number of missing values in each column
print(missing_values)

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [19]:
#Adjusting the Dataframe for Stock Splits and Dividends if happend
import yfinance as yf
import pandas as pd

# Creating a Ticker object for Jio Platforms Limited (RELIANCE.NS)
ticker = yf.Ticker("RELIANCE.NS")

# Getting stock split and dividend actions
actions = ticker.actions

# Setting the date range for analysis (10 years ago to now)
start_date = "2013-11-01"
end_date = "2023-11-01"

# Creating a Ticker object for Jio Platforms Limited (RELIANCE.NS) with the specified date range
ticker = yf.Ticker("RELIANCE.NS")

# Getting historical stock prices within the specified date range
df = ticker.history(start=start_date, end=end_date)

# Initializing a new DataFrame df1 with the same data as df
df1 = df.copy()

# Initialize dictionaries to store the adjustment factors
split_factors = {}
dividend_factors = {}

# Iterating through actions to calculate adjustment factors
for action_date, action in actions.iterrows():
    action_date_str = action_date.strftime("%Y-%m-%d")

    # Handle stock splits
    if action["Stock Splits"] > 1:
        split_factors[action_date_str] = 1 / action["Stock Splits"]

    # Handle dividends
    if action["Dividends"] > 0:
        dividend_factors[action_date_str] = 1 - action["Dividends"]

# Adjusting the "Close" prices for stock splits and dividends
for date, row in df1.iterrows():
    date_str = date.strftime("%Y-%m-%d")

    if date_str in split_factors:
        df1.loc[date, "Close"] *= split_factors[date_str]

    if date_str in dividend_factors:
        df1.loc[date, "Close"] /= dividend_factors[date_str]

# Displaying the adjusted DataFrame df1
print(df1)

                                  Open         High          Low        Close  \
Date
2013-11-01 00:00:00+05:30   423.081399   430.728596   419.943518   422.221405
2013-11-05 00:00:00+05:30   419.943544   428.473964   419.943544   422.895477
2013-11-06 00:00:00+05:30   423.034981   427.637243   416.038656   417.735443
2013-11-07 00:00:00+05:30   417.921356   421.082495   410.064981   411.831512
2013-11-08 00:00:00+05:30   411.878064   412.807802   404.974684   407.206085
...                                ...          ...          ...          ...
2023-10-25 00:00:00+05:30  2250.050049  2281.199951  2243.000000  2257.949951
2023-10-26 00:00:00+05:30  2251.000000  2258.000000  2220.300049  2226.500000
2023-10-27 00:00:00+05:30  2240.000000  2273.500000  2235.949951  2265.800049
2023-10-30 00:00:00+05:30  2274.000000  2325.000000  2269.949951  2312.500000
2023-10-31 00:00:00+05:30  2328.000000  2328.000000  2282.899902  2287.899902

                            Volume  Dividends  Stock Splits
Date
2013-11-01 00:00:00+05:30  5487655        0.0           0.0
2013-11-05 00:00:00+05:30  5056001        0.0           0.0
2013-11-06 00:00:00+05:30  4439539        0.0           0.0
2013-11-07 00:00:00+05:30  4519284        0.0           0.0
2013-11-08 00:00:00+05:30  4040793        0.0           0.0
...                            ...        ...           ...
2023-10-25 00:00:00+05:30  5810344        0.0           0.0
2023-10-26 00:00:00+05:30  7611267        0.0           0.0
2023-10-27 00:00:00+05:30  5885542        0.0           0.0
2023-10-30 00:00:00+05:30  8406652        0.0           0.0
2023-10-31 00:00:00+05:30  6404219        0.0           0.0

[2465 rows x 7 columns]

In [20]:
df1

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-11-01 00:00:00+05:30,423.081399,430.728596,419.943518,422.221405,5487655,0.0,0.0
2013-11-05 00:00:00+05:30,419.943544,428.473964,419.943544,422.895477,5056001,0.0,0.0
2013-11-06 00:00:00+05:30,423.034981,427.637243,416.038656,417.735443,4439539,0.0,0.0
2013-11-07 00:00:00+05:30,417.921356,421.082495,410.064981,411.831512,4519284,0.0,0.0
2013-11-08 00:00:00+05:30,411.878064,412.807802,404.974684,407.206085,4040793,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-25 00:00:00+05:30,2250.050049,2281.199951,2243.000000,2257.949951,5810344,0.0,0.0
2023-10-26 00:00:00+05:30,2251.000000,2258.000000,2220.300049,2226.500000,7611267,0.0,0.0
2023-10-27 00:00:00+05:30,2240.000000,2273.500000,2235.949951,2265.800049,5885542,0.0,0.0
2023-10-30 00:00:00+05:30,2274.000000,2325.000000,2269.949951,2312.500000,8406652,0.0,0.0
2023-10-31 00:00:00+05:30,2328.000000,2328.000000,2282.899902,2287.899902,6404219,0.0,0.0

In [21]:
# Save df1 to a CSV file
df1.to_csv('jio_adjusted_stock_prices.csv', index=True)

In [22]:
# Save df to a CSV file
df.to_csv('jio_original_stock_prices.csv', index=True)